html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: lightskyblue;
    font-family: Verdana, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.login-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.login-container h1 {
    margin: 75px 0 125px 0;
    font-size: 50px;
    text-align: center;
}
.login-container .textbox {
    height: 50px;
    width: 400px;
    margin: 30px auto;
}
.login-container input[type=email], .login-container input[type=password] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: #d8d8d8;
    color: black;
    font-size: 20px;
}
.login-container input[type=button] {
    height: 60px;
    width: 150px;
    display: block;
    margin: 40px auto 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 30px;
}
#app {
    width: 800px;
    margin: 0 auto;
}
#app .navbar {
    min-width: 736px;
    margin: 50px auto 20px auto;
    padding-left: 20px;
}
#app .navbar ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#app .navbar ul li {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
}
#app #logout {
    height: 50px;
    width: 120px;
    display: flex;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
}
#app .component {
    width: 100%;
    /* padding-left: 30px; */
}
#default-component , .home-template, .student-template,
.lecturer-template, .module-template, .record-template,
.timetable-template {
    display: block;
    margin: 0 auto;
}
#default-component h1 , .home-template h1, .student-template h1,
.lecturer-template h1, .module-template h1, .record-template h1,
.timetable-template h1 {
    font-size: 45px;
    margin: 20px 0;
    text-align: center;
}
#default-component p, .home-template p {
    font-size: 20px;
    text-align: center;
}
.student-template label, .lecturer-template label,
.module-template label, .record-template label,
.timetable-template label {
    text-align: right;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    margin: 10px auto;
    position: relative;
    left: 24%;
}
#app input[type=text], #app input[type=email],
#app input[type=password] {
    display: inline-block;
    width: 200px;
    height: 25px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    left: 26%;
}
#app select {
    display: inline-block;
    width: 219px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0 20px 0 20px;
    position: relative;
    left: 23.5%;
}
#submit, #Lsubmit, #Add, #Remove, #Rsubmit, #Tsubmit {
    display: flex;
    margin: 20px auto;
    height: 35px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
}
